/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

body {
  background-color: #010010;
  background-image: url(images/star-bg.jpg);
  background-position: center;
  background-repeat: repeat;
  color: #ffcc00;
  font-family: 'Berkshire Swash', cursive, serif;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  -webkit-animation: background 500s linear infinite;
          animation: background 500s linear infinite;
}

/*
background animation based on code from: 
https://stackoverflow.com/questions/37903824/how-can-i-make-infinite-flowing-background-with-only-css/
*/
@-webkit-keyframes background {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 10000px;
  }
}
@keyframes background {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 10000px;
  }
}

select {
  color: #ffcc00;
  width: 100px;
  height: 25px;
  background-color: #010010;
  border: 1px solid #ffcc00;
  margin-bottom: 10px;
}

input {
  width: 150px;
  height: 20px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

button {
  display: block;
  margin: 10px auto;
  border: 1px solid #010010;
  border-radius: 5px;
  background-color: #ffcc00;
  color: #010010;
  width: 100px;
  height: 25px;
}

button:hover {
  background-color: #bbddff;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 35px;
  color: #bbddff;
}

h3 {
  font-family: 'Forum', serif;
  font-size: 20px;
}

p {
  font-size: 25px;
}

footer {
  font-family: 'Forum', serif;
  font-size: 10px;
  padding: 20px;
}

.user-input {
  font-family: 'Rock Salt', fantasy, cursive, sans-serif;
  font-size: 20px;
}

.instructions {
  font-family: 'Forum', serif;
  font-size: 20px;
  padding: 0 150px;
  color: #bbddff;
}

.spread {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 75px;
  width: 150px;
}

.card-back {
  opacity: 0;
  width: 150px;
  height: 250px;
  border-radius: 15px;
  background-color: #010010;
  background-image: -o-linear-gradient(210deg, #abdcef, transparent), -o-repeating-linear-gradient(330deg, #abdcef, transparent 2%);
  background-image: linear-gradient(240deg, #abdcef, transparent), repeating-linear-gradient(120deg, #abdcef, transparent 2%);
  background-size: 150px 250px;
  -webkit-transition: opacity 2s ease-in, -webkit-transform 1s ease-in;
  transition: opacity 2s ease-in, -webkit-transform 1s ease-in;
  -o-transition: opacity 2s ease-in, transform 1s ease-in;
  transition: opacity 2s ease-in, transform 1s ease-in;
  transition: opacity 2s ease-in, transform 1s ease-in, -webkit-transform 1s ease-in;
}

.crop {
  opacity: 0;
  overflow: hidden;
  border-radius: 15px;
  width: 150px;
  height: 250px;
  display: inline-block;
  position: relative;
}

.description {
  text-align: center;
  font-family: 'Forum', serif;
  font-size: 15px;
  font-weight: 400;
  color: #bbddff;
}

img {
  width: 156px;
  height: 256px;
  position: relative;
  margin-left: -3px;
  margin-top: -3px;
}

.hidden {
  opacity: 0;
  -webkit-transition: opacity 1s ease-in;
  -o-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
}

.fade-in {
  opacity: 1;
}

/*
break class code from:
https://tobiasahlin.com/blog/flexbox-break-to-new-row/
*/

.break {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 0;
  
}

@media (max-width: 800px) {
  .card {
    margin: 0 50px;
  }
}

@media (max-width: 650px) {
  .card {
    margin: 0 20px;
  }
  .instructions {
    padding: 0 50px;
  }
}

@media (max-width: 550px) {
  .instructions {
    padding: 20px;
  }
}