body {
  background-color: #01000c;
  background-image: url(images/star-bg.jpg);
  background-position: center;
  background-repeat: repeat;
  color: #ffcc00;
  font-family: 'Berkshire Swash', cursive, serif;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}

input {
  width: 150px;
  height: 20px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

button {
  display: block;
  margin: 10px auto;
  border: 1px solid #010010;
  border-radius: 12px;
  background-color: #ffcc00;
  color: #010010;
  width: 100px;
  height: 25px;
}

button:hover {
  background-color: #bbddff;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 35px;
  color: #bbddff;
}

h3 {
  font-family: 'Forum', serif;
  font-size: 20px;
}

p {
  font-size: 25px;
}

footer {
  font-family: 'Forum', serif;
  font-size: 10px;
  padding: 20px;
}

.user-input {
  font-family: 'Rock Salt', fantasy, cursive, sans-serif;
  font-size: 20px;
}

.instructions {
  font-family: 'Forum', serif;
  font-size: 20px;
  padding: 0 150px;
  color: #bbddff;
}

.spread {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 20px 0;
}

.card {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  margin: 0 75px;
  width: 150px;
}

.card-back {
  opacity: 0;
  width: 150px;
  height: 250px;
  border-radius: 15px;
  background-color: #010010;
  background-image: linear-gradient(240deg, #abdcef, transparent), repeating-linear-gradient(120deg, #abdcef, transparent 2%);
  background-size: 150px 250px;
  transition: opacity 2s ease-in;
}

.crop {
  opacity: 0;
  overflow: hidden;
  border-radius: 15px;
  width: 150px;
  height: 250px;
  display: inline-block;
  position: relative;
  transition: opacity 1s ease-in;
}

.description {
  text-align: center;
  font-family: 'Forum', serif;
  font-size: 15px;
  font-weight: 400;
  color: #bbddff;
}

img {
  width: 156px;
  height: 256px;
  position: relative;
  margin-left: -3px;
  margin-top: -3px;
}

.hidden {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.fade-in {
  opacity: 1;
}

@media (max-width: 800px) {
  .card {
    margin: 0 50px;
  }
}

@media (max-width: 650px) {
  .card {
    margin: 0 20px;
  }
  .instructions {
    padding: 0 50px;
  }
}

@media (max-width: 550px) {
  .instructions {
    padding: 20px;
  }
  .spread {
    flex-wrap: wrap;
  }
}